.category-title {
  padding: 20px;
}
.category-title h1 {
  text-align: center;
}

.category-items_wrapper {
  padding: 0 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: linear-gradient(to right bottom, #FFFAF2, rgba(0, 161, 154, 0.5098039216));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
.category-items_wrapper::before {
  content: "";
  top: -10rem;
  left: -10rem;
  width: 40rem;
  height: 40rem;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.35);
}
.category-items_wrapper::after {
  content: "";
  bottom: 0rem;
  right: -10rem;
  width: 40rem;
  height: 40rem;
  margin-bottom: -25rem;
  position: absolute;
  border-radius: 50%;
  background: rgba(10, 138, 167, 0.282);
}
.category-items_wrapper .word {
  width: 48%;
  margin: 10px;
  border: 2px solid #00a19a;
  border-radius: 8px;
}
.category-items_wrapper .word a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: black;
  text-decoration: none;
}
.category-items_wrapper .no-words {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: black;
}