.regular-word {
  padding: 40px;
}
.regular-word .search-component {
  width: 50%;
  justify-self: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #043c5f;
  margin-bottom: 20px;
}
.regular-word .search-component input {
  width: 100%;
}
.regular-word .search-component .wordList {
  width: 100%;
  top: 60px;
  background-color: #043c5f;
}
.regular-word .search-component .wordList ul {
  background-color: unset;
}
.regular-word .search-component .wordList ul a {
  color: white;
}
.regular-word .word-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}
.regular-word .word-wrapper .word-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: start;
  width: 70%;
  gap: 20px;
}
.regular-word .word-wrapper .word-info > div:not(.like) {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  min-width: 300px;
}
.regular-word .word-wrapper .word-info .like {
  padding: 10px;
  cursor: pointer;
  background-color: #043c5f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  border-radius: 20px;
  color: white;
}
.regular-word .word-wrapper .word-info .like.liked {
  color: #f0763e;
}
.regular-word .word-wrapper .word-info .title {
  font-size: 20px;
}
.regular-word .word-wrapper .word-info .category {
  font-size: 20px;
}
.regular-word .word-wrapper .word-info .translate {
  font-size: 20px;
}
.regular-word .word-wrapper .word-info .tags {
  font-size: 20px;
}
.regular-word .word-wrapper .word-image {
  max-width: 270px;
  max-height: 270px;
}
.regular-word .word-wrapper .word-image img {
  width: 100%;
  height: 100%;
}
.regular-word .word-wrapper .word-description {
  width: 100%;
  margin-bottom: 10px;
}
.regular-word .word-wrapper .word-description h3 {
  text-align: left;
}
.regular-word .word-wrapper .word-examples {
  width: 100%;
}
.regular-word .word-wrapper .word-examples h3 {
  text-align: left;
}
.regular-word .relatedWords-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: end;
  padding-bottom: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.regular-word .relatedWords-wrapper::before {
  content: " ";
  position: absolute;
  bottom: 0;
  background: #1195ad;
  width: 100%;
  height: 230px;
  z-index: 1;
  border-radius: 8px;
}
.regular-word .relatedWords-wrapper > .card {
  max-width: 280px;
  cursor: pointer;
  height: 370px;
  border: 3px solid #002d49;
  border-radius: 20px;
  z-index: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.regular-word .relatedWords-wrapper > .card a {
  text-decoration: none;
}
.regular-word .relatedWords-wrapper > .card img {
  width: 220px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.regular-word .relatedWords-wrapper > .card span {
  display: block;
  color: white;
  font-size: 20px;
  line-height: 26px;
}