.word-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.word-wrapper .word-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.word-wrapper .word-image {
  max-width: 440px;
  max-height: 410px;
}
.word-wrapper .word-image img {
  width: 100%;
  height: 100%;
}