.clickable-visual-dictionary {
  text-align: center;
  font-family: Arial, sans-serif;

  h1 {
    padding: 10px;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
  }

  .image-container {
    position: relative;
    display: inline-block;

    width: 70%;
    height: auto;
    max-width: 700px;
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto;

    img {
      max-width: 100%;
      border-radius: 8px;
      height: auto;
      display: block;
      object-fit: contain; /* Ensure the image scales properly */
    }

    .shape {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid transparent;
      background-color: transparent;
      pointer-events: auto; // Allow interaction with the shapes
      cursor: pointer; // Change cursor to pointer on hover

      &.highlighted {
        border-color: red;
      }
    }

    .popup {
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      transform: translate(-50%, -100%);
      white-space: nowrap;
      pointer-events: none;
    }
  }

  .hover-info {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: left;
    font-size: 16px;
    color: #333;
  }

  .shape-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 30%;
    min-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #1195ad;

    .shape-item {
      width: calc(50% - 5px);
      padding: 5px;
      text-align: center;
      border: 1px solid transparent;
      border-radius: 4px;
      cursor: pointer;
      background-color: #fff;
      display: flex;
      gap: 5px;
      justify-content: space-between;
      transition: border-color 0.3s;
      align-items: center;

      &:hover {
        border-color: red;
      }

      &.highlighted {
        border-color: red;
      }
    }
  }
}

@media (max-width: 1100px) {
  .clickable-visual-dictionary {
    .image-container {
      width: 100%;
    }
    .shape-list {
      width: 100%;
      min-width: auto;

      max-width: 700px;
      .shape-item {
        width: calc((100% / 3) - 7px);
      }
    }
  }
}

@media (max-width: 540px) {
  .clickable-visual-dictionary {
    .shape-list {
      .shape-item {
        width: calc(50% - 5px);
      }
    }
  }
}
