@import "../components/variables.scss";

$body-bg: #84a0f4;
$button-bg: #5c67ff;
$list-bg: #fff;
$text-color: #1c3991;
$text-color-hover: #5c67ff;
$menu-icon-transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
@keyframes onePulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(92, 103, 255, 0.3);
  }

  50% {
    box-shadow: 0px 0px 0px 12px rgba(92, 103, 255, 0.1);
  }

  100% {
    box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
  }
}

@keyframes fadeInItem {
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}
.daily-word {
  color: black;
  position: relative;
  &.active {
    .more-button-list {
      opacity: 1;
      transform: scale(1);
    }

    .more-button-list-item {
      animation: fadeInItem 0.6s 0.2s forwards;

      &:nth-child(2) {
        animation-delay: 0.4s;
      }
      &:nth-child(3) {
        animation-delay: 0.6s;
      }
      &:nth-child(4) {
        animation-delay: 0.8s;
      }
    }

    .more-button {
      animation: onePulse 0.6s forwards linear;
    }

    .menu-icon-wrapper {
      transform: rotate(-45deg);
    }

    .menu-icon-line {
      &.first {
        transform: rotate(-90deg) translateX(1px);
      }

      &.last {
        transform: rotate(-90deg) translateX(-1px);
      }
    }
  }
  .more-button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    background-color: #f0763e;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in;
    color: #fff;
    position: relative;
    z-index: 2;

    &-list {
      background-color: $list-bg;
      border-radius: 8px;
      list-style-type: none;
      box-shadow: 0px 0px 4px 4px rgba(150, 157, 249, 0.16);
      padding: 2px;
      position: absolute;
      left: 100px;
      bottom: 0;
      opacity: 0;
      transform: scale(0);
      transform-origin: bottom left;
      transition: all 0.3s ease 0.1s;

      .wordList {
        width: 100%;
        color: white;
        min-width: 300px;
        background: #043c5f;
        border-radius: 8px;
        border: 2px solid #1195ad;
        padding: 10px;
        ul {
          list-style: none;
          max-height: 200px;
          overflow-y: auto;
          li {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            > span {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              line-height: 24px;
              font-size: 14px;
              &.likes {
                position: relative;
                width: 24px;
                height: 24px;
                svg {
                  color: #f0763e;
                  position: absolute;
                  font-size: 24px;
                  z-index: 1;
                }
                span {
                  position: absolute;
                  top: 0px;
                  left: 9px;
                  color: white;
                  z-index: 2;
                  font-size: 12px;
                }
              }
              &.translate {
                width: 35%;
                padding: 0 10px;
                min-width: 150px;
              }
            }
            a {
              width: 15%;
              padding: 0 10px;
              min-width: 100px;
              font-size: 14px;
              &.title {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

.home {
  .hero {
    width: 100%;
    height: 100%;
    color: white;
    margin-bottom: 40px;

    .search_area-wrapper {
      width: 100%;
      min-height: 220px;
      padding-bottom: 40px;
      background-color: #043c5f;
      position: relative;
      > img {
        width: 100%;
      }
      .search_area {
        width: 100%;
        padding-top: 60px;

        .selectors {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 40px;
          margin-bottom: 20px;
          > span {
            cursor: pointer;
            width: 100px;
            height: 30px;
            display: flex;
            border-radius: 4px;
            align-items: center;
            background-color: #f0763e;
            justify-content: center;
          }
        }
      }
    }
  }
  .categories_wrapper {
    width: 100%;

    > h2 {
      text-align: center;
      margin-bottom: 16px;
    }
    > p {
      text-align: center;
      max-width: 410px;
      margin: 0 auto 20px;
    }
    .categories-regular {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: end;
      padding: 20px;
      padding-bottom: 30px;
      flex-wrap: wrap;
      background: #cfe6e4;
      border: 1px solid #64b8c4;
      margin: 0 20px;

      margin-bottom: 70px;
      border-radius: 30px;
      // &::before {
      //   content: " ";
      //   position: absolute;
      //   bottom: 0;
      //   background: #1195ad;
      //   width: 100%;
      //   height: 230px;
      //   z-index: 1;
      //   border-radius: 8px;
      // }
      .row {
        display: flex;
        min-width: 300px;
        gap: 20px;
        width: 50%;
        flex-wrap: wrap;
        justify-content: center;
        > .card {
          background: white;
          max-width: 270px;
          min-width: 250px;
          width: 50%;
          height: 190px;
          border: 3px solid #002d49;
          border-radius: 12px;
          z-index: 1;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          text-align: center;

          a {
            height: 100%;
            text-decoration: none;
          }
          img {
            width: 100%;
            object-fit: cover;
            height: calc(100% - 26px);
            border-radius: 12px;
          }
          span {
            display: block;
            color: black;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
          }
        }

        .double-card {
          max-width: 230px;
          min-width: 250px;
          width: 50%;
          height: 190px;
          border-radius: 12px;
          z-index: 1;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;

          > .card {
            background: #043c5f;
            width: 100%;
            height: 45%;
            border-radius: 12px;
            padding: 7px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            a {
              text-decoration: none;
              display: flex;
              align-items: center;
              gap: 10px;
            }
            img {
              width: 50%;
              border-radius: 4px;
            }
            svg {
              color: #f0763e;
              margin-right: 2px;
            }
            span {
              display: flex;
              color: white;
              font-weight: 500;
              font-size: 12px;
            }
          }
        }
      }
    }
    .category-visual {
      position: relative;
      display: flex;
      background: #f9f2e6;
      border: 1px solid #64b8c4;
      justify-content: center;
      gap: 30px;
      align-items: end;
      padding: 40px;
      flex-wrap: wrap;
      margin: 0 20px;
      border-radius: 10px;
      margin-bottom: 40px;
      // &::before {
      //   content: " ";
      //   position: absolute;
      //   bottom: 0;
      //   background: #043c5f;
      //   width: 100%;
      //   height: 230px;
      //   z-index: 1;
      //   border-radius: 8px;
      // }
      h2 {
        text-align: center;
        font-size: 26px;
        width: 100%;
      }
      p {
        text-align: center;
        font-size: 20px;
      }
      > .card {
        width: 40%;
        max-width: 600px;
        height: 307px;
        border: 3px solid #002d49;
        border-radius: 20px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px;
        }
      }
    }
    .clickable-dictionaries {
      position: relative;
      display: flex;
      justify-content: center;
      gap: 30px;
      align-items: end;
      padding-bottom: 30px;
      flex-wrap: wrap;
      margin-bottom: 40px;

      min-height: 300px;

      > .card {
        position: relative;
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        padding-bottom: 30px;
        flex-wrap: wrap;
        background: #f9f2e6;
        border: 1px solid #64b8c4;
        margin: 0 140px;
        margin-bottom: 70px;
        border-radius: 12px;

        img {
          height: 220px;
          border-radius: 20px;
        }
        > div {
          display: flex;
          height: 100%;
          width: 60%;
          gap: 20px;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          padding: 0 20px;
          max-width: 500px;
          a {
            text-decoration: none;
            cursor: pointer;
            button {
              width: 130px;
              height: 40px;
              background: #f0763e;
              color: white;
              border-radius: 8px;
              font-size: 16px;
              line-height: 16px;
              cursor: pointer;
            }
          }
          h2 {
            display: block;
            color: black;
            width: 100%;
            font-size: 20px;
            line-height: 26px;
            text-align: left;
          }
          p {
            color: black;
            text-align: left;
            width: 80%;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  .team-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    &__img {
      max-width: 400px;
      width: 100%;
    }

    &__content {
      background: #7fd1d1;
      border-radius: 16px;
      padding: 32px 24px;
      max-width: 800px;
      width: 100%;
      box-sizing: border-box;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

      h2 {
        text-align: center;
        font-size: 2.5rem;
        font-style: italic;
        margin: 0 0 16px 0;
      }

      p {
        font-style: italic;
        font-size: 1.1rem;
        margin: 0;
        font-weight: 600;
        text-align: justify;
      }
    }
  }
}
@media (max-width: 768px) {
  .home
    .hero
    .search_area-wrapper
    .search_area
    .search_filter
    .filter
    .row.first {
    .search-bar {
      width: 100%;
      margin-bottom: 10px;
      > button {
        width: 60px;
      }
    }
    .filters {
      width: 100%;
    }
  }
  .home .categories_wrapper .clickable-dictionaries > .card {
    flex-direction: column;

    align-items: center;
    img {
      width: 70%;

      margin-bottom: 24px;
    }
    > div {
      width: 70%;
      padding: 0;
      h2 {
        text-align: center;
      }
      p {
        width: 100%;
        text-align: center;
        margin: 0;
      }
    }
  }
}
