.container {
    padding: 5%;
    text-align: center;
  
    .title {
      font-size: 2rem; // 2rem для больших экранов, адаптируется на меньших
      margin-bottom: 2%;
    }
  
    .content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  
      .images {
        display: grid;
        width: 50%;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); // 5 колонок на больших экранах
        gap: 0.5%;
  
        .image-wrapper {
          cursor: pointer;
          transition: transform 0.3s;
  
          img {
            width: 100%;
            height: auto;
            border-radius: 0.5rem;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          }
  
          &:hover {
            transform: scale(1.05);
          }
        }
      }
  
      .names {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 5%; // Отступ от изображений
  
        .image-wrapper {
          margin-bottom: 2%;
          transition: color 0.3s;
  
          span {
            font-size: 1.5rem; // Адаптивный размер шрифта
            color: #333;
  
            &.active {
              color: #007bff; // Цвет для активного слова
            }
          }
        }
      }
    }
  }