.container {
    padding: 20px;
    text-align: center;
  
    .title {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  
      .images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
  
        .image-wrapper {
          cursor: pointer;
          transition: transform 0.3s;
  
          img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          }
  
          &:hover {
            transform: scale(1.05);
          }
        }
      }
  
      .names {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 20px;
  
        .image-wrapper {
          margin-bottom: 10px;
          transition: color 0.3s;
  
          span {
            font-size: 18px;
            color: #333;
  
            &.active {
              color: #007bff; // Цвет, который будет применяться при нажатии
            }
          }
        }
      }
    }
  }