$contW: 900px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;

$inputW: 260px;
$btnH: 36px;

$diffRatio: ($contW - $imgW) / $contW;

@mixin signUpActive {
  .auth-container.signup-form & {
    @content;
  }
}
.auth-component{
  margin-top: 40px;

  button {
    display: block;
    margin: 0 auto;
    width: $inputW;
    height: $btnH;
    border-radius: 30px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
    background: #f0763e;
  }
  
  h2 {
    width: 100%;
    font-size: 22px;
    text-align: center;
  }
  
  // Добавлено: отступ сверху перед кнопками
  form {
    // ...existing code...
    button {
      margin-top: 24px;
      background: #f0763e;
      // ...existing code...
    }
  }
  
  label {
    display: block;
    width: $inputW;
    margin: 25px auto 0;
    text-align: center;
  
    span {
      font-size: 10px;
      color: #cfcfcf;
      text-transform: uppercase;
    }
  }
  
  input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
  }
}
.tip {
  font-size: 13px;
  margin: 40px auto 50px;
  text-align: center;
}

  
.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: $imgW;
  height: 100%;
  padding-top: 360px;

  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: $contW;
    height: 100%;
    background-image: url("../../public/img/Online.gif");
    background-size: cover;
    transition: transform $switchAT ease-in-out;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  @include signUpActive {
    &:before {
      transform: translate3d($formW, 0, 0);
    }
  }

  &__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #ffffff;
    transition: transform $switchAT ease-in-out;

    h2 {
      margin-bottom: 10px;
      font-weight: normal;
      font-size: 22px;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
    }

    &.signup {
      @include signUpActive {
        transform: translateX($imgW * 2);
      }
    }

    &.signin {
      transform: translateX($imgW * -2);

      @include signUpActive {
        transform: translateX(0);
      }
    }
  }

  &__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 140px; // увеличено
    height: $btnH + 8px; // увеличено
    margin: 0 auto;
    background: transparent;
    color: #fff;
   
    font-size: 16px; // увеличено до 16px
    cursor: pointer;

    &:after {
      content: "";
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #fff;
      border-radius: 30px;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: transform $switchAT;

      &.signin {
        transform: translateY($btnH * -2);

        @include signUpActive {
          transform: translateY(0);
        }
      }

      &.signup {
        @include signUpActive {
          transform: translateY($btnH * 2);
        }
      }
    }
  }
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 9px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #f0763e;
  text-transform: uppercase;
  font-size: 13px;
}
.auth-container {
  overflow: hidden;
  position: relative;
  width: $contW;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
}

.form {
  position: relative;
  width: $formW;
  height: 100%;
  transition: transform $switchAT ease-in-out;
  padding: 50px 30px 0;
}

.transition-container {
  overflow: hidden;
  position: absolute;
  left: $formW;
  top: 0;
  width: $contW;
  height: 100%;
  padding-left: $imgW;
  background: #fff;
  transition: transform $switchAT ease-in-out;

  @include signUpActive {
    transform: translate3d($formW * -1, 0, 0);
  }
}

.sign-in {
  transition-timing-function: ease-out;

  @include signUpActive {
    transition-timing-function: ease-in-out;
    transition-duration: $switchAT;
    transform: translate3d($formW, 0, 0);
  }
}

.sign-up {
  transform: translate3d($contW * -1, 0, 0);

  @include signUpActive {
    transform: translate3d(0, 0, 0);
  }
}
