.visual-word-page {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  padding: 20px;
  .search-component {
    margin-bottom: 30px;
    input {
      border: 2px solid #043c5f;
      min-width: 400px;
    }
  }
  .container {
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .word-image {
    flex: 1;
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;

    img {
      max-width: 100%;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .word-info {
    flex: 1;
    max-width: 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .title {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
    }

    .translate {
      font-size: 1.5rem;
      color: #555;
    }

    .tags {
      font-size: 1rem;
      color: #777;
      background: #f0f0f0;
      padding: 10px;
      border-radius: 8px;
    }

    .description {
      font-size: 1.2rem;
      color: #444;
      line-height: 1.6;
    }

    .examples {
      font-size: 1rem;
      color: #666;
      background: #f9f9f9;
      padding: 15px;
      border-radius: 8px;
      border: 1px solid #ddd;
    }

    .like-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #fff;
      background: #f0763e;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: #ed692c;
      }

      &.liked {
        background: #6cf76c;

        &:hover {
          background: #5be55b;
        }
      }
    }
  }
}
