.word-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  .word-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    
    .title {
    }
    .category {
    }
    .translate {
    }
    .tags {
    }
  }
  .word-image {
    max-width: 440px;
    max-height: 410px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
