@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts//flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
:root {
  --up: 2;
  --card-margin: 12px;
  --card-shadow: rgba(46, 49, 52, 0.4);
  --color-white: #fff;
  --color-lightgrey: #ccc;
  --color-ui: #999;
  --color-ui-hover: #666;
  --cardWidth: calc(min(63vw, 700px) / var(--up));
  --carouselWidth: calc(var(--cardWidth) * var(--num));
  --carouselLeftMargin: calc(2vw - var(--cardWidth));

  @media screen and (max-width: 900px) {
    /*basically mobile*/
    --up: 1;
  }
}

.carouselwrapper {
  overflow: hidden;
  position: relative;
  height: 100%;
  border: 3px solid #1897ae;
  border-radius: 14px;

  .ui {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: calc(100% - var(--card-margin) * 2);
    justify-content: space-between;
    padding: var(--card-margin);
    z-index: 100;

    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-ui);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: var(--color-white);
      box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
      border: 0;
      transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

      &:hover {
        background: var(--color-ui-hover);
      }

      &:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, 1);
      }
    }
  }

  .carousel {
    width: var(--carouselWidth);
    margin: 0 0 0 var(--carouselLeftMargin);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    position: relative;
    z-index: 1;

    &.prev {
      animation-duration: 0.6s;
      animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
      animation-name: prev;
    }

    &.next {
      animation-duration: 0.6s;
      animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
      animation-name: next;
    }

    .card {
      width: calc(var(--cardWidth) - var(--card-margin) * 2);
      box-shadow: 0px 1px 2px 0px var(--card-shadow);
      margin: var(--card-margin);
      height: 210px;
      border: 1px solid #0e99ff;
      border-radius: 8px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
      padding: 12px;
      background: #ffffff;
      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 10px 20px;
        background: #1195ad;
        border-radius: 8px;
        text-align: center;
        display: flex;
        justify-content: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }

        p {
          font-family: "Open Sans Condensed", sans-serif;
          position: absolute;
          bottom: 20px;
          color: black;
          padding: 2px 11px;
          background-color: #f0763e;
          border-radius: 8px;
          max-width: calc(100% - 70px);
          font-size: 16px;
        }
      }
    }
  }
}

@keyframes next {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(0px + var(--cardWidth)));
  }
}

@keyframes prev {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(0px - var(--cardWidth)));
  }
}
