@import "./variables.scss";
.filter {
  display: none;
  padding: 20px 60px;
  background-color: #043c5f;
  width: 90%;
  min-width: 300px;
  max-width: 900px;
  border-radius: 8px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.show {
    display: flex;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    &.first {
      justify-content: space-between;
      .search-bar {
        width: 60%;
        min-width: 200px;
        position: relative;
        > input {
          width: 100%;
          background-color: white;
          border-radius: 8px;
          height: 35px;
          padding: 0 10px;
        }
        > button {
          position: absolute;
          right: 0;
          top: 0;
          cursor: pointer;
          width: 100px;
          height: 100%;
          display: flex;
          border-radius: 0 4px 4px 0;
          align-items: center;
          background-color: #f0763e;
          justify-content: center;
          color: white;
        }
      }

      .filters {
        display: flex;
        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          &:first-child {
            margin-right: 8px;
          }
          > .title {
            margin-right: 8px;
          }
          .switchCtrl {
            margin: 0 4px 0 0;
            padding: 0;
            height: 18px;
            cursor: pointer;
            &.right-side {
              float: right;
              & + label {
                &.title {
                  float: right;
                }
              }
            }
            & + label {
              &.title {
                font-weight: normal;
                display: inline-block;
                margin: 0;
                &::after {
                  content: " ";
                  white-space: pre;
                }
                &::before {
                  content: " ";
                  white-space: pre;
                }
              }
            }
            input {
              display: none;
              &:checked {
                + .toggle {
                  &::before {
                    background-color: $switch-background-color-checked;
                  }
                  &::after {
                    -webkit-transform: translateX(20px);
                    -ms-transform: translateX(20px);
                    transform: translateX(20px);
                    background-color: $switch-background-color-checked;
                  }
                }
              }
            }
            .toggle {
              position: relative;
              border-radius: 3px;
              display: inline-block;
              width: 40px;
              height: 20px;
              overflow: hidden;
              vertical-align: top;
              &::after {
                content: "";
                position: absolute;
                width: 12px;
                top: 4px;
                left: 4px;
                bottom: 4px;
                display: inline-block;
                -webkit-transition: $speed ease-in-out;
                transition: $speed ease-in-out;
                box-sizing: border-box;
                border: 3px solid white;
                background-color: $switch-background-color;
              }
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                background-color: $switch-background-color;
                display: inline-block;
                -webkit-transition: $speed;
                transition: $speed;
              }
            }
            &.rounded {
              .toggle {
                border-radius: 10px;
                &::after {
                  border-radius: 50%;
                }
                &::before {
                  border-radius: 10px;
                }
              }
            }
          }
        }
      }
    }
    &.second {
      .alphabets {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
      }
      .alphabets1,
      .alphabets2,
      .alphabets3 {
        display: flex;
        flex-wrap: wrap;
        width: 33%;
        max-width: 240px;
      }
      .alphabet-label {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        margin: 5px;
        cursor: pointer;
        padding: 7px;
        border: 2px solid #1195ad;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: rgb(4 60 95);
        }

        &.selected {
          background-color: #f0763e;
        }

        .alphabet-checkbox {
          margin-right: 5px;
          display: none; // Hide the checkbox itself
        }
      }
    }
    &.third {
      margin-bottom: 20px;
      .options {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
      }

      .styled-select {
        display: flex;
        flex-wrap: wrap;
        width: 33%;
        max-width: 240px;
        background-color: #1195ad;
        color: white; // Text color
        border: 2px solid #043c5f; // Border color
        border-radius: 5px; // Rounded corners
        padding: 10px; // Padding inside the select
        cursor: pointer; // Cursor change on hover
        appearance: none; // Remove default dropdown arrow
        position: relative; // Position for custom arrow
        > option {
          background-color: #1195ad;
        }
        // Custom arrow
        &::after {
          content: "▼"; // Down arrow
          position: absolute;
          right: 10px; // Positioning the arrow
          top: 50%;
          transform: translateY(-50%);
          color: white; // Arrow color
          pointer-events: none; // Prevent click events on arrow
        }

        // On focus
        &:focus {
          outline: none; // Remove default outline
          border-color: #00b3b3; // Change border color on focus
        }

        // Placeholder styles (for the default empty value)
        option[value=""] {
          display: none; // Hide the default empty option
        }
      }
    }
  }
  .wordList {
    width: 100%;
    color: white;
    min-width: 300px;
    background: #043c5f;
    border-radius: 8px;
    border: 2px solid #1195ad;
    padding: 10px;
    ul {
      list-style: none;
      max-height: 200px;
      overflow-y: auto;
      li {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        > span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          line-height: 24px;
          font-size: 14px;
          &.likes {
            position: relative;
            width: 24px;
            height: 24px;
            svg {
              color: #f0763e;
              position: absolute;
              font-size: 24px;
              z-index: 1;
            }
            span {
              position: absolute;
              top: 0px;
              left: 9px;
              color: white;
              z-index: 2;
              font-size: 12px;
            }
          }
          &.translate {
            width: 35%;
            padding: 0 10px;
            min-width: 200px;
          }

          &.dictionary {
            width: calc(45% - 16px);
            min-width: 260px;
            padding: 0 10px;
          }
        }
        a {
          width: 15%;
          padding: 0 10px;
          min-width: 100px;
          font-size: 14px;
          &.title {
            color: white;
          }
        }
      }
    }
    &.show {
      display: block;
    }
  }
}


@media (max-width: 768px) {
  .search_filter .filter .row.first {
    .search-bar {
      width: 100%;
      margin-bottom: 10px;
      > button {
        width: 60px;
      }
    }
    .filters {
      width: 100%;
    }
  }
}
