header {
  position: sticky;
  top: 0;
  z-index: 1000;
  > .title {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1195ad;
    justify-content: space-around;
    color: white;
  }
  > .row {
    height: 70px;
    background-color: #043c5f;
    color: #f0763e;
    letter-spacing: 0.2em;
    padding-left: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      a {
        img{
              width: 150px;
        }
        // color: #f0763e; // Set the color
        text-decoration: none; // Remove underline
      }
    }
    .frame {
      position: absolute;
      top: 0;

      right: 20px;
      width: 400px;
      height: 70px;
      border-radius: 2px;
      box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #333;
      font-family: "Roboto", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      .center {
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .line {
        width: 50px;
        height: 20px;
        cursor: pointer;
      }

      .line-one {
        transform: translatey(35px);
        .line-one-fill {
          border-radius: 4px;
          transform: translatey(0px);
          background: #1195ad;
          width: 100%;
          height: 4px;
        }
      }

      .line-two {
        transform: translatey(-35px);
        .line-one-fill {
          border-radius: 4px;
          transform: translatey(20px);
          background: #1195ad;
          width: 100%;
          height: 4px;
        }
      }

      .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 400px;
        height: 50px;
        visibility: hidden;
      }

      .menu {
        ul {
          width: 400px;
          display: flex;
          justify-content: space-around;
          li {
            font-size: 0.8rem;
            font-weight: 700;
            cursor: pointer;
            user-select: none;
            a {
              color: #f0763e;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
