@import "./variables.scss";
.search-component {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  input {
    width: 60%;
    min-width: 300px;
    background-color: white;
    border-radius: 8px;
    height: 35px;
    padding: 0 10px;
  }
  .wordList {
    position: absolute;
    width: 60%;
    min-width: 300px;
    top: 40px;
    background: #1195ad;
    border-radius: 0 0 8px 8px;
    padding: 10px;
    ul {
      list-style: none;
      max-height: 200px;
      overflow-y: auto;
      li {
        margin-bottom: 20px;
        display: flex;
        color: #043c5f;
        align-items: center;
        flex-wrap: wrap;
        > span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          line-height: 24px;
          &.likes {
            position: relative;
            width: 24px;
            height: 24px;
            svg {
              color: $switch-background-color-checked;
              position: absolute;
              font-size: 24px;
              z-index: 1;
            }
            span {
              position: absolute;
              top: 0px;
              left: 9px;
              color: white;
              z-index: 2;
              font-size: 12px;
            }
          }
          &.translate {
            width: 25%;
            padding: 0 10px;
            min-width: 200px;
          }
          &.category {
            width: 20%;
            padding: 0 10px;
            min-width: 160px;
          }
          &.dictionary {
            width: calc(30% - 16px);
            min-width: 260px;
            padding: 0 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
        a {
          width: 15%;
          padding: 0 10px;
          min-width: 100px;
          &.title {
          }
        }
      }
    }
    &.show {
      display: block;
    }
  }
  &.show {
    display: flex;
  }
}